#transition2 ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    font-family: sans-serif;
}

#transition2 ul li a {
    color: #FCD63F;
    font-size: 35px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all .5s
}

#transition2 #no-time ul li a {
    transition: all 0s;
}

#transition2 a:hover {
    background-color: #FCD63F;
    color: #06111c;
}

#transition2 a:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #FCD63F;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.3s
}

#transition2 #no-time a:before {
    transition: all 0s;
}

#transition2 a:hover:before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

#transition2 a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #FCD63F;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.3s;
}

#transition2 #no-time a:after {
    transition: all 0s;
}

#transition2 a:hover:after {
    opacity: 1;
    top: -8px;
    right: -8px;
}